* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    height: 0px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #0369A1;
    border-radius: 30px;
}

.home{
    background-image: url('./assets/home.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

@media screen and (max-width: 850px) {
    .home{
        background-image: url('./assets/homeMobile.png');
    }
}

.courses{
    background-image: url('./assets/courses.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.active{
    background-color: #0369A1;
}